@import url("bpg-nino-mtavruli-bold.min.css");
@import url("bpg-nino-medium.min.css");
@import url("bpg-nino-medium-caps.min.css");
body {
    font-family: "BPG Nino Medium", sans-serif;
}
.main-menu.menu-dark .navigation>li.open ul li.active>a, .main-menu.menu-dark .navigation>li.open ul li>a {
    padding-left: 25px;
    font-family: "BPG Nino Medium Caps", sans-serif;
	font-size: 13px;
}
body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation>li>a>span {
    visibility: visible;
    font-family: "BPG Nino Medium Caps", sans-serif;
	font-size: 13px;
}
.main-menu.menu-dark .navigation>li>a {
    padding: 10px 30px 10px 20px;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    font-size: 13px;
}
.navigation li a {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: "BPG Nino Medium", sans-serif !important;
	font-size: 13px;
}
html body .content .content-wrapper {
    padding: 1.0rem;
}
.header-navbar .navbar-header .navbar-brand {
	padding: 6px 60px;
}
.main-menu.menu-dark .navigation {
    background: #404E67;
    margin-top: 50px;
}
.main-menu.menu-dark .navigation .navigation-header {
    color: #DCDCDC;
    padding: 24px 20px 8px;
    text-align: center;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
}
form .form-section {

    font-family: "BPG Nino Medium Caps", sans-serif;
    font-weight: bold;
   
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {

    font-family: "BPG Nino Medium Caps", sans-serif;
    font-weight: bold;
   
}
.nav.nav-tabs.nav-top-border .nav-item a {
    color: #00b5b8;
    font-weight: bold;
}
.nav.nav-tabs.nav-top-border .nav-item a.nav-link.active {
    border-top: 3px solid #00b5b8;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #555;
}
.nav.nav-tabs.nav-justified .nav-item a.nav-link {
    display: block;
    font-size: 12px;
}
.bg-primary {
    background-color: #00B5B8!important;
    padding: 3px;
}


.table {

    font-size: 12px;
}
.nav.nav-tabs.nav-justified {
    text-align: center;
}
form label {
    font-weight: 600;
}
#visits_table{
    display: table !important;
}

table.dataTable tbody tr {
    cursor: pointer;
}
#main-load-div{
    position: relative;
    position: absolute;
    width: 100%;
    z-index: 100;
    height: 100%;
    background-color: #cccccc69;
    display: none;
}
#spinner-div{
    position: absolute;
    left: 50%;
    top: 50%;
}
.history-text{
    font-size: 30px;
    text-align: center;
    font-family: "BPG Nino Medium Caps", sans-serif;
    background-color: #404e67;
    color: #fff;
}
form .form-section {
    color: #00b5b8; 
    background-color: #404e670d;
}
.select2-container .select2-selection--single {height: 40.5px !important;}

#blank-block{
    display: none;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #ccd6e6 !important;
 
}
.modal-title{
    font-size: 12px;
    color: #fff;
}
table#therapy-table td:hover {
    background-color: rgba(0,0,0,.075);
    cursor: pointer;
}

#patient_confirm_file{
    display: none;
}
.navbar-semi-dark .navbar-header {
    background: #3b4962;
}
.select2-container--default .select2-selection--multiple {
    border: 1px solid #ccd6e6;

}

#files-table{
    display: none;
}
#files-cure{
    display: none;
}
.file-times{
    color: #d83135;
    font-size: 16px;
    cursor: pointer;
}
.file-bg{
    background-color:#404e67 !important;
}
.upload-img{
    width: 25px;
}
#blank-block-operations{
    display: none;
}
#blank-block-immunization{
    display: none;
}
.ocupation-table-input{
width: 100%;
height: 50px;
font-size: 15px;
border: none;
outline: none;
}
.ocupation-table-td {
    padding: 0 !important;
    margin: 0;
}
.ocupation-table-input:hover {
    background-color: #e9e9e9;
    cursor: pointer;
}
.therapy-tb-body td{
    padding: 2px;
    margin: 0;
}

.therapy-tb-body td select{
   height: 50px;
}

#blank-block-desease{
    display: none;
}
.clinic-check{
    color: #12f342;
    font-size: 16px;
}
.clinic-times{
    color: #d22f33;
    font-size: 16px;
    
}
.clinic-div{
    text-align: center;
}